@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .navbar-link {
    @apply block drop-shadow-xl bg-white  hover:drop-shadow-md transition py-2 rounded pr-4 pl-4 w-24 text-center text-gray-700;
  }
  .navbar-link-current {
    @apply block drop-shadow-md bg-white hover:drop-shadow-md transition py-2 rounded pr-4 pl-4 w-24 text-center text-blue-700;
  }
  .button {
    @apply w-full bg-gray-50  text-gray-900 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center drop-shadow-xl hover:drop-shadow-lg transition
  }
  .input-box{
    @apply bg-gray-50 shadow-inner border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5
  }
}

.grid-bg {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #ececec 1px, transparent 1px),
    linear-gradient(to bottom, #ececec 1px, transparent 1px);
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

#md hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

#md ul li::before {
  content: "\2022"; /* Unicode bullet point character */
  margin-right: 0.5em; /* Adjust spacing between marker and content */
}

#md ol {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  padding-left: 40px;
}

#md ol {
  counter-reset: my-counter; /* Initialize the counter */
}

#md ol li:not(ul li) {
  counter-increment: my-counter; /* Increment the counter for each list item */
  position: relative; /* Add relative positioning to the list item */
}

#md ol li:not(ul li)::before {
  content: counter(my-counter); /* Display the counter value as content */
  margin-right: 0.5em; /* Adjust spacing between the number and content */
  display: inline; /* Display the pseudo-element inline */
  position: absolute; /* Position the pseudo-element absolutely */
  left: -1.5em; /* Adjust the left position to align with the content */
}

#md ul {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  padding-left: 40px;
}

#md li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#md pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}

#md code {
  font-family: monospace;
  font-size: 1em;
  display: inline;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

#md pre > code {
  background: #eeeeee;
}

#md blockquote {
  margin: 1em 40px;
  padding: 0;
  padding-left: 5px;
  font-size: 1em;
  line-height: 1.4;
  border-left: 2px solid #ccc;
}

#md p {
  padding-bottom: 5px;
}
#md h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

#md h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
#md a {
  @apply font-medium text-blue-600 dark:text-blue-500 hover:underline
}
